<div class="cards" @animationAppearance>
    <section class="cards__wrapper">
        <app-spinner [isResourcesLoading]="isLoading" *ngIf="isLoading; else content"></app-spinner>

        <ng-template #content>
            <article class="cards__item" *ngFor="let category of categorys$ | async">
                <a class="cards__item-content" [routerLink]="['resources', category]">
                    <mat-card class="cards__item-content">
                        <p>
                            {{category}}
                        </p>
                    </mat-card>
                </a>
            </article>
        </ng-template>
    </section>
</div>