.main__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  background-image: url("../assets/imgs/backgroud.jpg");
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
