<div *ngIf="category === 'people'" @animationAppearance>
    <app-form-people></app-form-people>
</div>

<div *ngIf="category === 'films'" @animationAppearance>
    <app-form-films></app-form-films>
</div>

<div *ngIf="category === 'planets'" @animationAppearance>
    <app-form-planet></app-form-planet>
</div>

<div *ngIf="category === 'species'" @animationAppearance>
    <app-form-species></app-form-species>
</div>

<div *ngIf="category === 'starships'" @animationAppearance>
    <app-form-starships></app-form-starships>
</div>

<div *ngIf="category === 'vehicles'" @animationAppearance>
    <app-form-vehicles></app-form-vehicles>
</div>