@import "../../styles/variable.scss";

.header {
  height: 80px;
  background-color: $header__background-color;

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1000ms;

    &:hover {
      opacity: 0.5;
    }
  }

  &__lable {
    width: 162px;
    height: 80px;
    padding-top: 10px;
  }
}
